$font-size-root: 20px;

/*------------------------------------*\
    $COLORES
\*------------------------------------*/

$main-color: rgb(62, 6, 148);

//Colores de los puntos de vista hasta 5 columnas
//Colores del arcoiris empezando por violeta
$violeta: #6F49A6;
$indigo: indigo;
$celeste: #2980b9;
$verde: #27ae60;
$amarillo: #f1c40f;

/*Colores del layout*/
$bg-body : #fafafa;
$bg-header : #fff;
$bg-footer : #333;